.container{
    display: flex;
}

.block01{

}

.box{
    background-color: purple;
    width: 205px;
    height: 80px;
    border-radius: 5px;
}
.block0{
    display: flex;
}
.box1{
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: 8px;
}
.block{
    margin-top: 5px;
    margin-left: 5px;
}

.box-block-blue{
    background-color: blue;
    width: 100px;
    height: 15px;
    border-radius: 5px;

}

.box-block-red{
background-color: red;
width: 100px;
height: 85px;
border-radius: 5px;
margin-top: 3px;
}

.box2{
    background-color: green;
    width: 205px;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
}

.block02{
margin-left: 5px;
}

.block00{
display: flex;
}

.box01{
    background-color: green;
    width: 100px;
    height: 155px;
    border-radius: 5px;
}

.block1{
    margin-left: 5px;
}

.box2-block-blue{
background-color: blue;
width: 100px;
height: 50px;
border-radius: 5px;
}

.box2-block-red{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: 5px;
}

.box02{
background-color: purple;
width: 205px;
height: 85px;
border-radius: 5px;
margin-top: 5px;
}


.block03{
    margin-left: 5px;
}

.box03{
    background-color: green;
    width: 205px;
    height: 50px;
    border-radius: 5px;
}

.block2{
display: flex;
margin-top: 5px;
}

.box3-block-blue{
width: 50px;
height: 50px;
background-color: blue;
border-radius: 5px;
}

.box3-block-red{
width: 150px;
height: 50px;
background-color: red;
border-radius: 5px;
margin-left: 5px;
}

.box04{
    background-color: purple;
    width: 205px;
    height: 115px;
border-radius: 5px;
margin-top: 5px;
}

.box05{
background-color: blue;
width: 205px;
height: 15px;
border-radius: 5px;
margin-top: 5px;
}